In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv(r"C:\Users\anant\Downloads\balance_scale\balance_scale_data.csv")

In [4]:
df

     B  1  1.1  1.2  1.3
0    R  1    1    1    2
1    R  1    1    1    3
2    R  1    1    1    4
3    R  1    1    1    5
4    R  1    1    2    1
..  .. ..  ...  ...  ...
619  L  5    5    5    1
620  L  5    5    5    2
621  L  5    5    5    3
622  L  5    5    5    4
623  B  5    5    5    5

[624 rows x 5 columns]

In [5]:
df.shape

(624, 5)

In [6]:
df.columns=['class','left_weight','left_distance','right_weight','right_distance']
df

    class  left_weight  left_distance  right_weight  right_distance
0       R            1              1             1               2
1       R            1              1             1               3
2       R            1              1             1               4
3       R            1              1             1               5
4       R            1              1             2               1
..    ...          ...            ...           ...             ...
619     L            5              5             5               1
620     L            5              5             5               2
621     L            5              5             5               3
622     L            5              5             5               4
623     B            5              5             5               5

[624 rows x 5 columns]

In [7]:
df['left']=df['left_weight']*df['left_distance']
df['right']=df['right_weight']*df['right_distance']
df

,class,left_weight,left_distance,right_weight,right_distance,left,right
0,R,1,1,1,2,1,2
1,R,1,1,1,3,1,3
2,R,1,1,1,4,1,4
3,R,1,1,1,5,1,5
4,R,1,1,2,1,1,2
...,...,...,...,...,...,...,...
619,L,5,5,5,1,25,5
620,L,5,5,5,2,25,10
621,L,5,5,5,3,25,15
622,L,5,5,5,4,25,20
623,B,5,5,5,5,25,25

In [8]:
df=df.drop(df[df['class'] == 'B'].index)
df

,class,left_weight,left_distance,right_weight,right_distance,left,right
0,R,1,1,1,2,1,2
1,R,1,1,1,3,1,3
2,R,1,1,1,4,1,4
3,R,1,1,1,5,1,5
4,R,1,1,2,1,1,2
...,...,...,...,...,...,...,...
618,L,5,5,4,5,25,20
619,L,5,5,5,1,25,5
620,L,5,5,5,2,25,10
621,L,5,5,5,3,25,15
622,L,5,5,5,4,25,20

In [9]:
df=df[['left','right','class']]
df

     left  right class
0       1      2     R
1       1      3     R
2       1      4     R
3       1      5     R
4       1      2     R
..    ...    ...   ...
618    25     20     L
619    25      5     L
620    25     10     L
621    25     15     L
622    25     20     L

[576 rows x 3 columns]

In [10]:
df['class']=df['class'].map({'L':1,'R':0})
df

C:\Users\anant\AppData\Local\Temp\ipykernel_14844\550145744.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['class']=df['class'].map({'L':1,'R':0})

     left  right  class
0       1      2      0
1       1      3      0
2       1      4      0
3       1      5      0
4       1      2      0
..    ...    ...    ...
618    25     20      1
619    25      5      1
620    25     10      1
621    25     15      1
622    25     20      1

[576 rows x 3 columns]

In [11]:
df.dtypes

left     int64
right    int64
class    int64
dtype: object

In [12]:
df.dtypes

left     int64
right    int64
class    int64
dtype: object

In [13]:
#df = df.astype(int)

In [14]:
df.dtypes

left     int64
right    int64
class    int64
dtype: object

In [15]:
x=df[['left','right']]
y=df[['class']]
x

     left  right
0       1      2
1       1      3
2       1      4
3       1      5
4       1      2
..    ...    ...
618    25     20
619    25      5
620    25     10
621    25     15
622    25     20

[576 rows x 2 columns]

In [16]:
y

     class
0        0
1        0
2        0
3        0
4        0
..     ...
618      1
619      1
620      1
621      1
622      1

[576 rows x 1 columns]

In [17]:
df.iloc[0]

left     1
right    2
class    0
Name: 0, dtype: int64

In [18]:
from math import sqrt #import sqrt from math library 
def euclidean_distance(row1,row2):#Define a function Euclidean_distance with two  
    distance = 0.0
    for i in range(len(row1) - 1): # Iterate through the indices of the rows (excluding the last column, which is assumed to be the target 'y')
        distance += (row1[i] - row2[i])**2# Calculate the squared difference between corresponding elements of the two rows and accumulate it to 'distance'
    return sqrt(distance)# Return the square root of the accumulated squared differences as the Euclidean distance
data=df# Assign the DataFrame 'df' to a new variable 'data'
data = pd.DataFrame(data)# Convert the 'data' variable back to a DataFrame 
# Example row for which you want to calculate distances
example_row = df.iloc[0]#Iterate the dataframe 1st row
for index,row in df.iterrows():# Iterate through each row in the DataFrame using the 'iterrows()' function
    distance = euclidean_distance(example_row.values,row.values)# Calculate the Euclidean distance between the 'example_row' and the current 'row'
print(distance)

30.0

In [19]:
list_distance=[]
for index,row in df.iterrows():
    distance=euclidean_distance(example_row.values,row.values)
    list_distance.append(distance)
list_distance.sort()
print(list_distance)

[0.0, 0.0, 1.0, 1.0, 1.4142135623730951, 1.4142135623730951, 1.4142135623730951, 1.4142135623730951, 1.4142135623730951, 1.4142135623730951, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.23606797749979, 2.23606797749979, 2.23606797749979, 2.23606797749979, 2.23606797749979, 2.23606797749979, 2.23606797749979, 2.23606797749979, 2.8284271247461903, 2.8284271247461903, 2.8284271247461903, 2.8284271247461903, 2.8284271247461903, 2.8284271247461903, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.1622776601683795, 3.1622776601683795, 3.1622776601683795, 3.1622776601683795, 3.1622776601683795, 3.1622776601683795, 3.1622776601683795, 3.1622776601683795, 3.1622776601683795, 3.1622776601683795, 3.1622776601683795, 3.1622776601683795, 3.1622776601683795, 3.605551275463989, 3.605551275463989, 3.605551275463989, 3.605551275463989, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.123105625617661, 4.123105625617661, 4.123105625617661, 4.123105625617661, 4.123105625617661, 4.123105625617661, 4.123105625617661, 4.123105625617661, 4.123105625617661, 4.123105625617661, 4.242640687119285, 4.242640687119285, 4.242640687119285, 4.242640687119285, 4.242640687119285, 4.242640687119285, 4.47213595499958, 4.47213595499958, 4.47213595499958, 4.47213595499958, 4.47213595499958, 4.47213595499958, 4.47213595499958, 4.47213595499958, 4.47213595499958, 4.47213595499958, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0990195135927845, 5.0990195135927845, 5.0990195135927845, 5.0990195135927845, 5.0990195135927845, 5.0990195135927845, 5.385164807134504, 5.385164807134504, 5.385164807134504, 5.385164807134504, 5.385164807134504, 5.385164807134504, 5.656854249492381, 5.656854249492381, 5.656854249492381, 5.656854249492381, 5.830951894845301, 5.830951894845301, 5.830951894845301, 5.830951894845301, 6.0, 6.0, 6.082762530298219, 6.082762530298219, 6.082762530298219, 6.082762530298219, 6.324555320336759, 6.324555320336759, 6.324555320336759, 6.324555320336759, 6.708203932499369, 6.708203932499369, 6.708203932499369, 6.708203932499369, 6.708203932499369, 6.708203932499369, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0710678118654755, 7.0710678118654755, 7.0710678118654755, 7.0710678118654755, 7.0710678118654755, 7.0710678118654755, 7.0710678118654755, 7.0710678118654755, 7.211102550927978, 7.211102550927978, 7.211102550927978, 7.211102550927978, 7.280109889280518, 7.280109889280518, 7.280109889280518, 7.280109889280518, 7.280109889280518, 7.280109889280518, 7.280109889280518, 7.280109889280518, 7.615773105863909, 7.615773105863909, 7.615773105863909, 7.615773105863909, 7.615773105863909, 7.615773105863909, 7.615773105863909, 7.810249675906654, 7.810249675906654, 7.810249675906654, 7.810249675906654, 8.0, 8.0, 8.0, 8.0, 8.06225774829855, 8.06225774829855, 8.06225774829855, 8.06225774829855, 8.06225774829855, 8.06225774829855, 8.06225774829855, 8.06225774829855, 8.06225774829855, 8.06225774829855, 8.06225774829855, 8.06225774829855, 8.06225774829855, 8.246211251235321, 8.246211251235321, 8.246211251235321, 8.246211251235321, 8.246211251235321, 8.246211251235321, 8.246211251235321, 8.54400374531753, 8.54400374531753, 8.54400374531753, 8.54400374531753, 8.54400374531753, 8.54400374531753, 8.54400374531753, 8.54400374531753, 8.602325267042627, 8.602325267042627, 8.94427190999916, 8.94427190999916, 8.94427190999916, 8.94427190999916, 8.94427190999916, 8.94427190999916, 9.0, 9.0, 9.0, 9.0, 9.055385138137417, 9.055385138137417, 9.055385138137417, 9.055385138137417, 9.055385138137417, 9.055385138137417, 9.219544457292887, 9.219544457292887, 9.219544457292887, 9.219544457292887, 9.219544457292887, 9.219544457292887, 9.433981132056603, 9.433981132056603, 9.433981132056603, 9.433981132056603, 9.486832980505138, 9.486832980505138, 9.486832980505138, 9.486832980505138, 9.848857801796104, 9.848857801796104, 9.848857801796104, 9.848857801796104, 9.899494936611665, 9.899494936611665, 10.0, 10.0, 10.0, 10.0, 10.04987562112089, 10.04987562112089, 10.04987562112089, 10.04987562112089, 10.198039027185569, 10.198039027185569, 10.198039027185569, 10.198039027185569, 10.44030650891055, 10.44030650891055, 10.44030650891055, 10.44030650891055, 10.44030650891055, 10.44030650891055, 10.63014581273465, 10.63014581273465, 10.63014581273465, 10.63014581273465, 10.770329614269007, 10.770329614269007, 10.770329614269007, 10.770329614269007, 10.816653826391969, 10.816653826391969, 10.816653826391969, 10.816653826391969, 11.0, 11.0, 11.0, 11.0, 11.045361017187261, 11.045361017187261, 11.045361017187261, 11.045361017187261, 11.045361017187261, 11.045361017187261, 11.180339887498949, 11.180339887498949, 11.180339887498949, 11.180339887498949, 11.180339887498949, 11.180339887498949, 11.180339887498949, 11.180339887498949, 11.180339887498949, 11.180339887498949, 11.313708498984761, 11.313708498984761, 11.40175425099138, 11.40175425099138, 11.40175425099138, 11.40175425099138, 11.40175425099138, 11.40175425099138, 11.704699910719626, 11.704699910719626, 11.704699910719626, 11.704699910719626, 12.206555615733702, 12.206555615733702, 12.206555615733702, 12.206555615733702, 12.529964086141668, 12.529964086141668, 12.529964086141668, 12.529964086141668, 12.806248474865697, 12.806248474865697, 13.0, 13.0, 13.038404810405298, 13.038404810405298, 13.038404810405298, 13.038404810405298, 13.038404810405298, 13.038404810405298, 13.152946437965905, 13.152946437965905, 13.152946437965905, 13.152946437965905, 13.341664064126334, 13.341664064126334, 13.341664064126334, 13.341664064126334, 13.341664064126334, 13.341664064126334, 13.45362404707371, 13.45362404707371, 13.45362404707371, 13.45362404707371, 13.601470508735444, 13.601470508735444, 13.601470508735444, 13.601470508735444, 13.601470508735444, 13.601470508735444, 13.601470508735444, 13.601470508735444, 13.92838827718412, 13.92838827718412, 13.92838827718412, 13.92838827718412, 14.0, 14.0, 14.0, 14.0, 14.0, 14.035668847618199, 14.035668847618199, 14.035668847618199, 14.035668847618199, 14.035668847618199, 14.035668847618199, 14.035668847618199, 14.035668847618199, 14.142135623730951, 14.142135623730951, 14.142135623730951, 14.142135623730951, 14.142135623730951, 14.142135623730951, 14.142135623730951, 14.142135623730951, 14.317821063276353, 14.317821063276353, 14.317821063276353, 14.317821063276353, 14.317821063276353, 14.317821063276353, 14.317821063276353, 14.560219778561036, 14.560219778561036, 14.560219778561036, 14.560219778561036, 14.560219778561036, 14.560219778561036, 14.7648230602334, 14.7648230602334, 14.7648230602334, 14.7648230602334, 14.866068747318506, 14.866068747318506, 15.0, 15.0, 15.033296378372908, 15.033296378372908, 15.033296378372908, 15.132745950421556, 15.132745950421556, 15.132745950421556, 15.231546211727817, 15.231546211727817, 15.231546211727817, 15.231546211727817, 15.264337522473747, 15.264337522473747, 15.297058540778355, 15.297058540778355, 15.524174696260024, 15.524174696260024, 15.652475842498529, 15.652475842498529, 15.652475842498529, 15.652475842498529, 15.811388300841896, 15.811388300841896, 15.811388300841896, 15.811388300841896, 16.1245154965971, 16.1245154965971, 16.1245154965971, 16.1245154965971, 16.1245154965971, 16.15549442140351, 16.15549442140351, 16.55294535724685, 16.64331697709324, 16.64331697709324, 17.0, 17.0, 17.029386365926403, 17.029386365926403, 17.029386365926403, 17.029386365926403, 17.204650534085253, 17.204650534085253, 17.204650534085253, 17.204650534085253, 17.804493814764857, 17.804493814764857, 18.0, 18.0, 18.027756377319946, 18.027756377319946, 18.027756377319946, 18.027756377319946, 18.027756377319946, 18.027756377319946, 18.110770276274835, 18.110770276274835, 18.110770276274835, 18.110770276274835, 18.24828759089466, 18.24828759089466, 18.24828759089466, 18.24828759089466, 18.24828759089466, 18.24828759089466, 18.439088914585774, 18.439088914585774, 18.439088914585774, 18.439088914585774, 18.681541692269406, 18.681541692269406, 18.681541692269406, 18.681541692269406, 19.0, 19.0, 19.0, 19.0, 19.026297590440446, 19.026297590440446, 19.026297590440446, 19.026297590440446, 19.026297590440446, 19.026297590440446, 19.1049731745428, 19.1049731745428, 19.1049731745428, 19.1049731745428, 19.1049731745428, 19.1049731745428, 19.235384061671343, 19.235384061671343, 19.235384061671343, 19.235384061671343, 19.313207915827967, 19.313207915827967, 19.313207915827967, 19.313207915827967, 19.4164878389476, 19.4164878389476, 19.4164878389476, 19.4164878389476, 19.697715603592208, 19.697715603592208, 19.79898987322333, 19.79898987322333, 19.849433241279208, 19.849433241279208, 19.924858845171276, 19.924858845171276, 19.924858845171276, 19.924858845171276, 20.12461179749811, 20.12461179749811, 20.12461179749811, 20.12461179749811, 20.248456731316587, 20.248456731316587, 20.615528128088304, 20.615528128088304, 20.615528128088304, 20.615528128088304, 21.095023109728988, 21.095023109728988, 21.095023109728988, 21.095023109728988, 21.470910553583888, 21.470910553583888, 21.470910553583888, 21.470910553583888, 22.80350850198276, 22.80350850198276, 22.80350850198276, 22.80350850198276, 23.0, 23.021728866442675, 23.021728866442675, 23.021728866442675, 23.021728866442675, 23.021728866442675, 23.021728866442675, 23.08679276123039, 23.08679276123039, 23.194827009486403, 23.194827009486403, 23.194827009486403, 23.345235059857504, 23.345235059857504, 23.430749027719962, 23.430749027719962, 23.53720459187964, 23.53720459187964, 23.600847442411894, 23.600847442411894, 24.0, 24.0, 24.020824298928627, 24.020824298928627, 24.020824298928627, 24.041630560342615, 24.041630560342615, 24.08318915758459, 24.08318915758459, 24.08318915758459, 24.186773244895647, 24.186773244895647, 24.331050121192877, 24.331050121192877, 24.351591323771842, 24.698178070456937, 24.698178070456937, 24.73863375370596, 24.73863375370596, 25.0, 25.298221281347036, 25.298221281347036, 25.495097567963924, 25.495097567963924, 26.0, 26.0, 26.92582403567252, 26.92582403567252, 27.294688127912362, 27.294688127912362, 27.459060435491963, 27.784887978899608, 29.832867780352597, 29.832867780352597, 30.0, 30.0]

In [20]:
#Split your data into train(80%) and test(20%)
def tts(x, y, test_size=0.2, random_state=None):
    np.random.seed(random_state)# Set the random seed for reproducibility
    num_samples = x.shape[0]# Get the total number of samples in the dataset
    num_test_samples = int(test_size * num_samples)# Calculate the number of samples to be used for the test set
    shuffled_indices = np.random.permutation(num_samples)# Generate shuffled indices to randomly split the data
    train_indices, test_indices = shuffled_indices[num_test_samples:], shuffled_indices[:num_test_samples]# Generate shuffled indices to randomly split the data
    x_train, x_test = x.iloc[train_indices], x.iloc[test_indices] #Split the input features 'X' into train and test sets based on the indices
    y_train, y_test = y.iloc[train_indices], y.iloc[test_indices] #Split the target variable 'Y' into train and test sets based on the indices
    return x_train, x_test, y_train, y_test

In [21]:
x_train, x_test, y_train, y_test = tts(x, y, test_size=0.2, random_state=0)

In [22]:
x_train

     left  right
92      4     16
462    16     12
133     2     10
569    15      5
128     2      5
..    ...    ...
301     9      3
9       1      3
391     4     12
209     8      3
606    25      6

[461 rows x 2 columns]

In [23]:
x_test

     left  right
450    16      2
104     5      2
521     5     15
345    12     10
585    20      6
..    ...    ...
551    15      3
110     5      6
307     9      8
116     5     12
431    12      6

[115 rows x 2 columns]

In [24]:
y_train

     class
92       0
462      1
133      0
569      1
128      0
..     ...
301      1
9        0
391      0
209      1
606      1

[461 rows x 1 columns]

In [25]:
y_test

     class
450      1
104      1
521      0
345      1
585      1
..     ...
551      1
110      0
307      1
116      0
431      1

[115 rows x 1 columns]

In [26]:
x_train.dtypes

left     int64
right    int64
dtype: object

In [27]:
def get_neighbors(train,test_row,num_neighbors):
    distances = list()
    for train_row in train:
        dist = euclidean_distance(test_row,train_row)
        distances.append((train_row,dist))
    print(distances)
    
    distances.sort(key = lambda tup:tup[1])
    print(distances)
    
    neighbors = list()
    for i in range(num_neighbors):
        neighbors.append(distances[i][0])
    return neighbors

In [28]:
test_row = df.iloc[0].tolist()

# Example: Extract the rest of the rows as training data
x_train_example = df.iloc[1:].values.tolist()

# Number of neighbors (k) for KNN
num_neighbors = 3

# Call the get_neighbors function
neighbors = get_neighbors(x_train_example, test_row, num_neighbors)
print(neighbors)

[([1, 3, 0], 1.0), ([1, 4, 0], 2.0), ([1, 5, 0], 3.0), ([1, 2, 0], 0.0), ([1, 4, 0], 2.0), ([1, 6, 0], 4.0), ([1, 8, 0], 6.0), ([1, 10, 0], 8.0), ([1, 3, 0], 1.0), ([1, 6, 0], 4.0), ([1, 9, 0], 7.0), ([1, 12, 0], 10.0), ([1, 15, 0], 13.0), ([1, 4, 0], 2.0), ([1, 8, 0], 6.0), ([1, 12, 0], 10.0), ([1, 16, 0], 14.0), ([1, 20, 0], 18.0), ([1, 5, 0], 3.0), ([1, 10, 0], 8.0), ([1, 15, 0], 13.0), ([1, 20, 0], 18.0), ([1, 25, 0], 23.0), ([2, 1, 1], 1.4142135623730951), ([2, 3, 0], 1.4142135623730951), ([2, 4, 0], 2.23606797749979), ([2, 5, 0], 3.1622776601683795), ([2, 4, 0], 2.23606797749979), ([2, 6, 0], 4.123105625617661), ([2, 8, 0], 6.082762530298219), ([2, 10, 0], 8.06225774829855), ([2, 3, 0], 1.4142135623730951), ([2, 6, 0], 4.123105625617661), ([2, 9, 0], 7.0710678118654755), ([2, 12, 0], 10.04987562112089), ([2, 15, 0], 13.038404810405298), ([2, 4, 0], 2.23606797749979), ([2, 8, 0], 6.082762530298219), ([2, 12, 0], 10.04987562112089), ([2, 16, 0], 14.035668847618199), ([2, 20, 0], 18.027756377319946), ([2, 5, 0], 3.1622776601683795), ([2, 10, 0], 8.06225774829855), ([2, 15, 0], 13.038404810405298), ([2, 20, 0], 18.027756377319946), ([2, 25, 0], 23.021728866442675), ([3, 1, 1], 2.23606797749979), ([3, 2, 1], 2.0), ([3, 4, 0], 2.8284271247461903), ([3, 5, 0], 3.605551275463989), ([3, 2, 1], 2.0), ([3, 4, 0], 2.8284271247461903), ([3, 6, 0], 4.47213595499958), ([3, 8, 0], 6.324555320336759), ([3, 10, 0], 8.246211251235321), ([3, 6, 0], 4.47213595499958), ([3, 9, 0], 7.280109889280518), ([3, 12, 0], 10.198039027185569), ([3, 15, 0], 13.152946437965905), ([3, 4, 0], 2.8284271247461903), ([3, 8, 0], 6.324555320336759), ([3, 12, 0], 10.198039027185569), ([3, 16, 0], 14.142135623730951), ([3, 20, 0], 18.110770276274835), ([3, 5, 0], 3.605551275463989), ([3, 10, 0], 8.246211251235321), ([3, 15, 0], 13.152946437965905), ([3, 20, 0], 18.110770276274835), ([3, 25, 0], 23.08679276123039), ([4, 1, 1], 3.1622776601683795), ([4, 2, 1], 3.0), ([4, 3, 1], 3.1622776601683795), ([4, 5, 0], 4.242640687119285), ([4, 2, 1], 3.0), ([4, 6, 0], 5.0), ([4, 8, 0], 6.708203932499369), ([4, 10, 0], 8.54400374531753), ([4, 3, 1], 3.1622776601683795), ([4, 6, 0], 5.0), ([4, 9, 0], 7.615773105863909), ([4, 12, 0], 10.44030650891055), ([4, 15, 0], 13.341664064126334), ([4, 8, 0], 6.708203932499369), ([4, 12, 0], 10.44030650891055), ([4, 16, 0], 14.317821063276353), ([4, 20, 0], 18.24828759089466), ([4, 5, 0], 4.242640687119285), ([4, 10, 0], 8.54400374531753), ([4, 15, 0], 13.341664064126334), ([4, 20, 0], 18.24828759089466), ([4, 25, 0], 23.194827009486403), ([5, 1, 1], 4.123105625617661), ([5, 2, 1], 4.0), ([5, 3, 1], 4.123105625617661), ([5, 4, 1], 4.47213595499958), ([5, 2, 1], 4.0), ([5, 4, 1], 4.47213595499958), ([5, 6, 0], 5.656854249492381), ([5, 8, 0], 7.211102550927978), ([5, 10, 0], 8.94427190999916), ([5, 3, 1], 4.123105625617661), ([5, 6, 0], 5.656854249492381), ([5, 9, 0], 8.06225774829855), ([5, 12, 0], 10.770329614269007), ([5, 15, 0], 13.601470508735444), ([5, 4, 1], 4.47213595499958), ([5, 8, 0], 7.211102550927978), ([5, 12, 0], 10.770329614269007), ([5, 16, 0], 14.560219778561036), ([5, 20, 0], 18.439088914585774), ([5, 10, 0], 8.94427190999916), ([5, 15, 0], 13.601470508735444), ([5, 20, 0], 18.439088914585774), ([5, 25, 0], 23.345235059857504), ([2, 1, 1], 1.4142135623730951), ([2, 3, 0], 1.4142135623730951), ([2, 4, 0], 2.23606797749979), ([2, 5, 0], 3.1622776601683795), ([2, 4, 0], 2.23606797749979), ([2, 6, 0], 4.123105625617661), ([2, 8, 0], 6.082762530298219), ([2, 10, 0], 8.06225774829855), ([2, 3, 0], 1.4142135623730951), ([2, 6, 0], 4.123105625617661), ([2, 9, 0], 7.0710678118654755), ([2, 12, 0], 10.04987562112089), ([2, 15, 0], 13.038404810405298), ([2, 4, 0], 2.23606797749979), ([2, 8, 0], 6.082762530298219), ([2, 12, 0], 10.04987562112089), ([2, 16, 0], 14.035668847618199), ([2, 20, 0], 18.027756377319946), ([2, 5, 0], 3.1622776601683795), ([2, 10, 0], 8.06225774829855), ([2, 15, 0], 13.038404810405298), ([2, 20, 0], 18.027756377319946), ([2, 25, 0], 23.021728866442675), ([4, 1, 1], 3.1622776601683795), ([4, 2, 1], 3.0), ([4, 3, 1], 3.1622776601683795), ([4, 5, 0], 4.242640687119285), ([4, 2, 1], 3.0), ([4, 6, 0], 5.0), ([4, 8, 0], 6.708203932499369), ([4, 10, 0], 8.54400374531753), ([4, 3, 1], 3.1622776601683795), ([4, 6, 0], 5.0), ([4, 9, 0], 7.615773105863909), ([4, 12, 0], 10.44030650891055), ([4, 15, 0], 13.341664064126334), ([4, 8, 0], 6.708203932499369), ([4, 12, 0], 10.44030650891055), ([4, 16, 0], 14.317821063276353), ([4, 20, 0], 18.24828759089466), ([4, 5, 0], 4.242640687119285), ([4, 10, 0], 8.54400374531753), ([4, 15, 0], 13.341664064126334), ([4, 20, 0], 18.24828759089466), ([4, 25, 0], 23.194827009486403), ([6, 1, 1], 5.0990195135927845), ([6, 2, 1], 5.0), ([6, 3, 1], 5.0990195135927845), ([6, 4, 1], 5.385164807134504), ([6, 5, 1], 5.830951894845301), ([6, 2, 1], 5.0), ([6, 4, 1], 5.385164807134504), ([6, 8, 0], 7.810249675906654), ([6, 10, 0], 9.433981132056603), ([6, 3, 1], 5.0990195135927845), ([6, 9, 0], 8.602325267042627), ([6, 12, 0], 11.180339887498949), ([6, 15, 0], 13.92838827718412), ([6, 4, 1], 5.385164807134504), ([6, 8, 0], 7.810249675906654), ([6, 12, 0], 11.180339887498949), ([6, 16, 0], 14.866068747318506), ([6, 20, 0], 18.681541692269406), ([6, 5, 1], 5.830951894845301), ([6, 10, 0], 9.433981132056603), ([6, 15, 0], 13.92838827718412), ([6, 20, 0], 18.681541692269406), ([6, 25, 0], 23.53720459187964), ([8, 1, 1], 7.0710678118654755), ([8, 2, 1], 7.0), ([8, 3, 1], 7.0710678118654755), ([8, 4, 1], 7.280109889280518), ([8, 5, 1], 7.615773105863909), ([8, 2, 1], 7.0), ([8, 4, 1], 7.280109889280518), ([8, 6, 1], 8.06225774829855), ([8, 10, 0], 10.63014581273465), ([8, 3, 1], 7.0710678118654755), ([8, 6, 1], 8.06225774829855), ([8, 9, 0], 9.899494936611665), ([8, 12, 0], 12.206555615733702), ([8, 15, 0], 14.7648230602334), ([8, 4, 1], 7.280109889280518), ([8, 12, 0], 12.206555615733702), ([8, 16, 0], 15.652475842498529), ([8, 20, 0], 19.313207915827967), ([8, 5, 1], 7.615773105863909), ([8, 10, 0], 10.63014581273465), ([8, 15, 0], 14.7648230602334), ([8, 20, 0], 19.313207915827967), ([8, 25, 0], 24.041630560342615), ([10, 1, 1], 9.055385138137417), ([10, 2, 1], 9.0), ([10, 3, 1], 9.055385138137417), ([10, 4, 1], 9.219544457292887), ([10, 5, 1], 9.486832980505138), ([10, 2, 1], 9.0), ([10, 4, 1], 9.219544457292887), ([10, 6, 1], 9.848857801796104), ([10, 8, 1], 10.816653826391969), ([10, 3, 1], 9.055385138137417), ([10, 6, 1], 9.848857801796104), ([10, 9, 1], 11.40175425099138), ([10, 12, 0], 13.45362404707371), ([10, 15, 0], 15.811388300841896), ([10, 4, 1], 9.219544457292887), ([10, 8, 1], 10.816653826391969), ([10, 12, 0], 13.45362404707371), ([10, 16, 0], 16.64331697709324), ([10, 20, 0], 20.12461179749811), ([10, 5, 1], 9.486832980505138), ([10, 15, 0], 15.811388300841896), ([10, 20, 0], 20.12461179749811), ([10, 25, 0], 24.698178070456937), ([3, 1, 1], 2.23606797749979), ([3, 2, 1], 2.0), ([3, 4, 0], 2.8284271247461903), ([3, 5, 0], 3.605551275463989), ([3, 2, 1], 2.0), ([3, 4, 0], 2.8284271247461903), ([3, 6, 0], 4.47213595499958), ([3, 8, 0], 6.324555320336759), ([3, 10, 0], 8.246211251235321), ([3, 6, 0], 4.47213595499958), ([3, 9, 0], 7.280109889280518), ([3, 12, 0], 10.198039027185569), ([3, 15, 0], 13.152946437965905), ([3, 4, 0], 2.8284271247461903), ([3, 8, 0], 6.324555320336759), ([3, 12, 0], 10.198039027185569), ([3, 16, 0], 14.142135623730951), ([3, 20, 0], 18.110770276274835), ([3, 5, 0], 3.605551275463989), ([3, 10, 0], 8.246211251235321), ([3, 15, 0], 13.152946437965905), ([3, 20, 0], 18.110770276274835), ([3, 25, 0], 23.08679276123039), ([6, 1, 1], 5.0990195135927845), ([6, 2, 1], 5.0), ([6, 3, 1], 5.0990195135927845), ([6, 4, 1], 5.385164807134504), ([6, 5, 1], 5.830951894845301), ([6, 2, 1], 5.0), ([6, 4, 1], 5.385164807134504), ([6, 8, 0], 7.810249675906654), ([6, 10, 0], 9.433981132056603), ([6, 3, 1], 5.0990195135927845), ([6, 9, 0], 8.602325267042627), ([6, 12, 0], 11.180339887498949), ([6, 15, 0], 13.92838827718412), ([6, 4, 1], 5.385164807134504), ([6, 8, 0], 7.810249675906654), ([6, 12, 0], 11.180339887498949), ([6, 16, 0], 14.866068747318506), ([6, 20, 0], 18.681541692269406), ([6, 5, 1], 5.830951894845301), ([6, 10, 0], 9.433981132056603), ([6, 15, 0], 13.92838827718412), ([6, 20, 0], 18.681541692269406), ([6, 25, 0], 23.53720459187964), ([9, 1, 1], 8.06225774829855), ([9, 2, 1], 8.0), ([9, 3, 1], 8.06225774829855), ([9, 4, 1], 8.246211251235321), ([9, 5, 1], 8.54400374531753), ([9, 2, 1], 8.0), ([9, 4, 1], 8.246211251235321), ([9, 6, 1], 8.94427190999916), ([9, 8, 1], 10.0), ([9, 10, 0], 11.313708498984761), ([9, 3, 1], 8.06225774829855), ([9, 6, 1], 8.94427190999916), ([9, 12, 0], 12.806248474865697), ([9, 15, 0], 15.264337522473747), ([9, 4, 1], 8.246211251235321), ([9, 8, 1], 10.0), ([9, 12, 0], 12.806248474865697), ([9, 16, 0], 16.1245154965971), ([9, 20, 0], 19.697715603592208), ([9, 5, 1], 8.54400374531753), ([9, 10, 0], 11.313708498984761), ([9, 15, 0], 15.264337522473747), ([9, 20, 0], 19.697715603592208), ([9, 25, 0], 24.351591323771842), ([12, 1, 1], 11.045361017187261), ([12, 2, 1], 11.0), ([12, 3, 1], 11.045361017187261), ([12, 4, 1], 11.180339887498949), ([12, 5, 1], 11.40175425099138), ([12, 2, 1], 11.0), ([12, 4, 1], 11.180339887498949), ([12, 6, 1], 11.704699910719626), ([12, 8, 1], 12.529964086141668), ([12, 10, 1], 13.601470508735444), ([12, 3, 1], 11.045361017187261), ([12, 6, 1], 11.704699910719626), ([12, 9, 1], 13.038404810405298), ([12, 15, 0], 17.029386365926403), ([12, 4, 1], 11.180339887498949), ([12, 8, 1], 12.529964086141668), ([12, 16, 0], 17.804493814764857), ([12, 20, 0], 21.095023109728988), ([12, 5, 1], 11.40175425099138), ([12, 10, 1], 13.601470508735444), ([12, 15, 0], 17.029386365926403), ([12, 20, 0], 21.095023109728988), ([12, 25, 0], 25.495097567963924), ([15, 1, 1], 14.035668847618199), ([15, 2, 1], 14.0), ([15, 3, 1], 14.035668847618199), ([15, 4, 1], 14.142135623730951), ([15, 5, 1], 14.317821063276353), ([15, 2, 1], 14.0), ([15, 4, 1], 14.142135623730951), ([15, 6, 1], 14.560219778561036), ([15, 8, 1], 15.231546211727817), ([15, 10, 1], 16.1245154965971), ([15, 3, 1], 14.035668847618199), ([15, 6, 1], 14.560219778561036), ([15, 9, 1], 15.652475842498529), ([15, 12, 1], 17.204650534085253), ([15, 4, 1], 14.142135623730951), ([15, 8, 1], 15.231546211727817), ([15, 12, 1], 17.204650534085253), ([15, 16, 0], 19.79898987322333), ([15, 20, 0], 22.80350850198276), ([15, 5, 1], 14.317821063276353), ([15, 10, 1], 16.1245154965971), ([15, 20, 0], 22.80350850198276), ([15, 25, 0], 26.92582403567252), ([4, 1, 1], 3.1622776601683795), ([4, 2, 1], 3.0), ([4, 3, 1], 3.1622776601683795), ([4, 5, 0], 4.242640687119285), ([4, 2, 1], 3.0), ([4, 6, 0], 5.0), ([4, 8, 0], 6.708203932499369), ([4, 10, 0], 8.54400374531753), ([4, 3, 1], 3.1622776601683795), ([4, 6, 0], 5.0), ([4, 9, 0], 7.615773105863909), ([4, 12, 0], 10.44030650891055), ([4, 15, 0], 13.341664064126334), ([4, 8, 0], 6.708203932499369), ([4, 12, 0], 10.44030650891055), ([4, 16, 0], 14.317821063276353), ([4, 20, 0], 18.24828759089466), ([4, 5, 0], 4.242640687119285), ([4, 10, 0], 8.54400374531753), ([4, 15, 0], 13.341664064126334), ([4, 20, 0], 18.24828759089466), ([4, 25, 0], 23.194827009486403), ([8, 1, 1], 7.0710678118654755), ([8, 2, 1], 7.0), ([8, 3, 1], 7.0710678118654755), ([8, 4, 1], 7.280109889280518), ([8, 5, 1], 7.615773105863909), ([8, 2, 1], 7.0), ([8, 4, 1], 7.280109889280518), ([8, 6, 1], 8.06225774829855), ([8, 10, 0], 10.63014581273465), ([8, 3, 1], 7.0710678118654755), ([8, 6, 1], 8.06225774829855), ([8, 9, 0], 9.899494936611665), ([8, 12, 0], 12.206555615733702), ([8, 15, 0], 14.7648230602334), ([8, 4, 1], 7.280109889280518), ([8, 12, 0], 12.206555615733702), ([8, 16, 0], 15.652475842498529), ([8, 20, 0], 19.313207915827967), ([8, 5, 1], 7.615773105863909), ([8, 10, 0], 10.63014581273465), ([8, 15, 0], 14.7648230602334), ([8, 20, 0], 19.313207915827967), ([8, 25, 0], 24.041630560342615), ([12, 1, 1], 11.045361017187261), ([12, 2, 1], 11.0), ([12, 3, 1], 11.045361017187261), ([12, 4, 1], 11.180339887498949), ([12, 5, 1], 11.40175425099138), ([12, 2, 1], 11.0), ([12, 4, 1], 11.180339887498949), ([12, 6, 1], 11.704699910719626), ([12, 8, 1], 12.529964086141668), ([12, 10, 1], 13.601470508735444), ([12, 3, 1], 11.045361017187261), ([12, 6, 1], 11.704699910719626), ([12, 9, 1], 13.038404810405298), ([12, 15, 0], 17.029386365926403), ([12, 4, 1], 11.180339887498949), ([12, 8, 1], 12.529964086141668), ([12, 16, 0], 17.804493814764857), ([12, 20, 0], 21.095023109728988), ([12, 5, 1], 11.40175425099138), ([12, 10, 1], 13.601470508735444), ([12, 15, 0], 17.029386365926403), ([12, 20, 0], 21.095023109728988), ([12, 25, 0], 25.495097567963924), ([16, 1, 1], 15.033296378372908), ([16, 2, 1], 15.0), ([16, 3, 1], 15.033296378372908), ([16, 4, 1], 15.132745950421556), ([16, 5, 1], 15.297058540778355), ([16, 2, 1], 15.0), ([16, 4, 1], 15.132745950421556), ([16, 6, 1], 15.524174696260024), ([16, 8, 1], 16.15549442140351), ([16, 10, 1], 17.0), ([16, 3, 1], 15.033296378372908), ([16, 6, 1], 15.524174696260024), ([16, 9, 1], 16.55294535724685), ([16, 12, 1], 18.027756377319946), ([16, 15, 1], 19.849433241279208), ([16, 4, 1], 15.132745950421556), ([16, 8, 1], 16.15549442140351), ([16, 12, 1], 18.027756377319946), ([16, 20, 0], 23.430749027719962), ([16, 5, 1], 15.297058540778355), ([16, 10, 1], 17.0), ([16, 15, 1], 19.849433241279208), ([16, 20, 0], 23.430749027719962), ([16, 25, 0], 27.459060435491963), ([20, 1, 1], 19.026297590440446), ([20, 2, 1], 19.0), ([20, 3, 1], 19.026297590440446), ([20, 4, 1], 19.1049731745428), ([20, 5, 1], 19.235384061671343), ([20, 2, 1], 19.0), ([20, 4, 1], 19.1049731745428), ([20, 6, 1], 19.4164878389476), ([20, 8, 1], 19.924858845171276), ([20, 10, 1], 20.615528128088304), ([20, 3, 1], 19.026297590440446), ([20, 6, 1], 19.4164878389476), ([20, 9, 1], 20.248456731316587), ([20, 12, 1], 21.470910553583888), ([20, 15, 1], 23.021728866442675), ([20, 4, 1], 19.1049731745428), ([20, 8, 1], 19.924858845171276), ([20, 12, 1], 21.470910553583888), ([20, 16, 1], 23.600847442411894), ([20, 5, 1], 19.235384061671343), ([20, 10, 1], 20.615528128088304), ([20, 15, 1], 23.021728866442675), ([20, 25, 0], 29.832867780352597), ([5, 1, 1], 4.123105625617661), ([5, 2, 1], 4.0), ([5, 3, 1], 4.123105625617661), ([5, 4, 1], 4.47213595499958), ([5, 2, 1], 4.0), ([5, 4, 1], 4.47213595499958), ([5, 6, 0], 5.656854249492381), ([5, 8, 0], 7.211102550927978), ([5, 10, 0], 8.94427190999916), ([5, 3, 1], 4.123105625617661), ([5, 6, 0], 5.656854249492381), ([5, 9, 0], 8.06225774829855), ([5, 12, 0], 10.770329614269007), ([5, 15, 0], 13.601470508735444), ([5, 4, 1], 4.47213595499958), ([5, 8, 0], 7.211102550927978), ([5, 12, 0], 10.770329614269007), ([5, 16, 0], 14.560219778561036), ([5, 20, 0], 18.439088914585774), ([5, 10, 0], 8.94427190999916), ([5, 15, 0], 13.601470508735444), ([5, 20, 0], 18.439088914585774), ([5, 25, 0], 23.345235059857504), ([10, 1, 1], 9.055385138137417), ([10, 2, 1], 9.0), ([10, 3, 1], 9.055385138137417), ([10, 4, 1], 9.219544457292887), ([10, 5, 1], 9.486832980505138), ([10, 2, 1], 9.0), ([10, 4, 1], 9.219544457292887), ([10, 6, 1], 9.848857801796104), ([10, 8, 1], 10.816653826391969), ([10, 3, 1], 9.055385138137417), ([10, 6, 1], 9.848857801796104), ([10, 9, 1], 11.40175425099138), ([10, 12, 0], 13.45362404707371), ([10, 15, 0], 15.811388300841896), ([10, 4, 1], 9.219544457292887), ([10, 8, 1], 10.816653826391969), ([10, 12, 0], 13.45362404707371), ([10, 16, 0], 16.64331697709324), ([10, 20, 0], 20.12461179749811), ([10, 5, 1], 9.486832980505138), ([10, 15, 0], 15.811388300841896), ([10, 20, 0], 20.12461179749811), ([10, 25, 0], 24.698178070456937), ([15, 1, 1], 14.035668847618199), ([15, 2, 1], 14.0), ([15, 3, 1], 14.035668847618199), ([15, 4, 1], 14.142135623730951), ([15, 5, 1], 14.317821063276353), ([15, 2, 1], 14.0), ([15, 4, 1], 14.142135623730951), ([15, 6, 1], 14.560219778561036), ([15, 8, 1], 15.231546211727817), ([15, 10, 1], 16.1245154965971), ([15, 3, 1], 14.035668847618199), ([15, 6, 1], 14.560219778561036), ([15, 9, 1], 15.652475842498529), ([15, 12, 1], 17.204650534085253), ([15, 4, 1], 14.142135623730951), ([15, 8, 1], 15.231546211727817), ([15, 12, 1], 17.204650534085253), ([15, 16, 0], 19.79898987322333), ([15, 20, 0], 22.80350850198276), ([15, 5, 1], 14.317821063276353), ([15, 10, 1], 16.1245154965971), ([15, 20, 0], 22.80350850198276), ([15, 25, 0], 26.92582403567252), ([20, 1, 1], 19.026297590440446), ([20, 2, 1], 19.0), ([20, 3, 1], 19.026297590440446), ([20, 4, 1], 19.1049731745428), ([20, 5, 1], 19.235384061671343), ([20, 2, 1], 19.0), ([20, 4, 1], 19.1049731745428), ([20, 6, 1], 19.4164878389476), ([20, 8, 1], 19.924858845171276), ([20, 10, 1], 20.615528128088304), ([20, 3, 1], 19.026297590440446), ([20, 6, 1], 19.4164878389476), ([20, 9, 1], 20.248456731316587), ([20, 12, 1], 21.470910553583888), ([20, 15, 1], 23.021728866442675), ([20, 4, 1], 19.1049731745428), ([20, 8, 1], 19.924858845171276), ([20, 12, 1], 21.470910553583888), ([20, 16, 1], 23.600847442411894), ([20, 5, 1], 19.235384061671343), ([20, 10, 1], 20.615528128088304), ([20, 15, 1], 23.021728866442675), ([20, 25, 0], 29.832867780352597), ([25, 1, 1], 24.020824298928627), ([25, 2, 1], 24.0), ([25, 3, 1], 24.020824298928627), ([25, 4, 1], 24.08318915758459), ([25, 5, 1], 24.186773244895647), ([25, 2, 1], 24.0), ([25, 4, 1], 24.08318915758459), ([25, 6, 1], 24.331050121192877), ([25, 8, 1], 24.73863375370596), ([25, 10, 1], 25.298221281347036), ([25, 3, 1], 24.020824298928627), ([25, 6, 1], 24.331050121192877), ([25, 9, 1], 25.0), ([25, 12, 1], 26.0), ([25, 15, 1], 27.294688127912362), ([25, 4, 1], 24.08318915758459), ([25, 8, 1], 24.73863375370596), ([25, 12, 1], 26.0), ([25, 16, 1], 27.784887978899608), ([25, 20, 1], 30.0), ([25, 5, 1], 24.186773244895647), ([25, 10, 1], 25.298221281347036), ([25, 15, 1], 27.294688127912362), ([25, 20, 1], 30.0)]

In [29]:
class KNN_Algorithm_ED:
    def fit(self, X, y):
        self.x_train = np.array(x)
        self.y_train = np.array(y)
    
    def predict(self,X, k=3):
        y_pred = []
        for i in x:
            distances = np.sqrt(np.sum((i - self.x_train)**2, axis=1))  # Calculate Euclidean distances between x and all training data points
            k_indices = np.argsort(distances)[:k]  # Get indices of k nearest neighbors based on distances
            k_nearest_labels = self.y_train[k_indices]  # Get labels of k nearest neighbors
            y_pred.append(np.bincount(k_nearest_labels).argmax())  # Predict the label based on the most common label among neighbors
        return np.array(y_pred)  # Return the predicted labels as an array

In [30]:
x_test.values

array([[16,  2],
       [ 5,  2],
       [ 5, 15],
       [12, 10],
       [20,  6],
       [20,  2],
       [25, 15],
       [ 3,  8],
       [10,  4],
       [ 3,  4],
       [ 5, 16],
       [20, 10],
       [10,  2],
       [15, 10],
       [ 6, 12],
       [ 4, 25],
       [15, 12],
       [ 8, 10],
       [10,  5],
       [16, 20],
       [10,  8],
       [16,  3],
       [20,  8],
       [15,  4],
       [ 8, 20],
       [ 6, 12],
       [ 2,  4],
       [15,  8],
       [ 5, 20],
       [ 4, 20],
       [ 3, 20],
       [ 4, 20],
       [ 2, 10],
       [15, 10],
       [ 1,  4],
       [ 6,  2],
       [12, 10],
       [ 1,  3],
       [ 8, 20],
       [ 4, 15],
       [10, 20],
       [20,  3],
       [12,  2],
       [ 4,  2],
       [ 6,  9],
       [25, 12],
       [ 9,  2],
       [ 8, 10],
       [10,  5],
       [15,  4],
       [ 1,  6],
       [ 2, 20],
       [12,  4],
       [15, 12],
       [25,  2],
       [ 5,  8],
       [10,  2],
       [ 9,  5],
       [ 3, 20],
       [12,  4],
       [ 1,  8],
       [ 1, 12],
       [ 4, 20],
       [ 8,  6],
       [ 3,  9],
       [ 3,  6],
       [ 4,  6],
       [ 5,  9],
       [ 6, 16],
       [10,  1],
       [20, 16],
       [15,  8],
       [10,  1],
       [ 5, 20],
       [ 3, 10],
       [ 4,  8],
       [ 1, 16],
       [ 6, 10],
       [ 9,  4],
       [ 2, 20],
       [ 5, 15],
       [20,  4],
       [20,  5],
       [25, 10],
       [ 8, 10],
       [10,  3],
       [ 4,  3],
       [ 4,  2],
       [ 8,  4],
       [25, 15],
       [12,  9],
       [ 4, 15],
       [10,  6],
       [ 2, 15],
       [ 3,  5],
       [ 2, 25],
       [20,  4],
       [ 8, 25],
       [16, 10],
       [ 1, 15],
       [20,  5],
       [ 6,  9],
       [12,  1],
       [ 9,  6],
       [12,  1],
       [ 6,  3],
       [10,  9],
       [16, 15],
       [12,  3],
       [ 4,  2],
       [15,  3],
       [ 5,  6],
       [ 9,  8],
       [ 5, 12],
       [12,  6]], dtype=int64)

In [31]:
y_test.shape

(115, 1)

In [32]:
neighbours = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51]
# Iterate through each value of 'k' in the 'neighbours' list
for k in neighbours: #Create an instance of the KNN algorithm with Euclidean Distance (ED)
    knn = KNN_Algorithm_ED() # Create a KNN model instance
    knn.fit(x_train.values, y_train.values)  # Train the model with training data and labels
    predictions = knn.predict(x_test.values, k=k)  # Make predictions on test data using 'k' nearest neighbors
    accuracy = np.mean(predictions == y_test.values) * 100  # Calculate accuracy by comparing predicted labels with actual test labels
    print(f"For k={k}, Accuracy: {accuracy:.2f}%")

UFuncTypeError: ufunc 'subtract' did not contain a loop with signature matching types (dtype('<U4'), dtype('int64')) -> None

In [ ]:

class KNN_Algorithm:
    def fit(self, X, y):
        self.x_train = X # Store the training data
        self.y_train = y # Store the corresponding labels
    
    def hamming_distance(self, s1, s2): # Calculate the Hamming distance between two strings s1 and s2.
        return sum(c1 != c2 for c1, c2 in zip(s1, s2)) # Hamming distance counts the positions at which the characters differ.
    
    def predict(self, X, k=3):
        y_pred = [] # List to store the predicted labels for each input
        for x in X:
            # Calculate Hamming distances between the input 'x' and all training data points
            distances = [self.hamming_distance(x, x_train) for x_train in self.x_train]
             # Find the indices of the 'k' nearest neighbors based on calculated Hamming distances
            k_indices = np.argsort(distances)[:k]  # Select the 'k' smallest distances
            # Get labels of 'k' nearest neighbors
            k_nearest_labels = self.y_train[k_indices]
            # Predict the label based on the most common label among neighbors
            # Use np.bincount to count occurrences of each label and choose the most common one
            y_pred.append(np.bincount(k_nearest_labels).argmax())# Add the predicted label to the list
        return np.array(y_pred)# Return the predicted labels as an array

In [ ]:
# List of the number of neighbors (k) to try for the KNN algorithm
neighbours = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33]
# Iterate through each value of 'k' in the 'neighbours' list
for k in neighbours: #Create an instance of the KNN algorithm with Hamming Distance (HD)
    knn = KNN_Algorithm() # Create a KNN model instance
    knn.fit(x_train.values, y_train.values) # Train the model with training data and labels
    accuracy = np.mean(knn.predict(x_test.values, k=k) == y_test.values) * 100 # Make predictions on test data using 'k' nearest neighbors
    print(f"For k={k}, Accuracy: {accuracy:.2f}%")# Print accuracy for the current value of 'k'

In [ ]:
#find a k correct k value using elbow and plot graph and see where k is saturating

In [ ]:
#choose your k value

In [ ]:
# List of the number of neighbors (k) to try for the KNN algorithm
neighbours = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33]
accuracies = []  # List to store accuracies for each value of 'k'
for k in neighbours:
    knn = KNN_Algorithm()  # Create a KNN model instance
    knn.fit(X_train.values, Y_train.values)  # Train the model with training data and labels
    y_pred = knn.predict(X_test.values, k=k)  # Make predictions on test data using 'k' nearest neighbors
    accuracy = np.mean(y_pred == Y_test.values) * 100  # Calculate accuracy
    accuracies.append(accuracy)  # Append accuracy to the list
# Plot the graph
plt.figure(figsize=(10, 6))
plt.plot(neighbours, accuracies, marker='o')
plt.title('Elbow Method for KNN (Hamming Distance)')
plt.xlabel('Number of Neighbors (k)')
plt.ylabel('Accuracy')
plt.grid(True)
plt.show()